#modal-layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}

#modal-layer.active{
    display: block;
}



.modal{
    display: none;
    position: absolute;
    top: 25%;
    left: 30%;
    margin:auto ;
    border-radius: 5px;
    background: white;
    width: 500px;
    min-height: 250px;
    z-index: 999;
}
.modal.active{
    display: block;
}